body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e0006, #000000);
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}

.main {
  padding: 5px 0;
  text-align: center;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
}


.inputs input {
  border: none;
  border-radius: 5px;
  padding: 1rem 10rem;
  outline: none;
  margin-bottom: 10px;
}

#selectOp {
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
}

#btn {
  border: none;
  background: linear-gradient(135deg, #e24e6c, #ff9a9e);
  color: rgb(92, 12, 72);
  padding: 10px 20px;
  border: 2px solid white;
  margin-top: 10px;
  cursor: pointer;
}